body {
  font-family: Arial;
  margin: 0;
  background: #0f172a;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #020617;
}

nav a {
  margin: 10px;
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 50px;
  background: #1e293b;
}

.products {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}

.card {
  background: #020617;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

button {
  background: #38bdf8;
  border: none;
  padding: 10px;
  cursor: pointer;
}
